<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962396868145-16prm81pbu3rrlpifjl3ose13aj7hscu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962396868145-16prm81pbu3rrlpifjl3ose13aj7hscu</string>
	<key>API_KEY</key>
	<string>AIzaSyBw7xMLRdjANj2T3vsH2j3bIFiNiqyIF04</string>
	<key>GCM_SENDER_ID</key>
	<string>962396868145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cvflutter</string>
	<key>PROJECT_ID</key>
	<string>cvflutter-c2fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>cvflutter-c2fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962396868145:ios:a59546f513312c6d7d0f10</string>
	<key>DATABASE_URL</key>
	<string>https://cvflutter-c2fcc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>